@{
    ViewData["Title"] = "Products";
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/customerAllProducts.css">
</head>
<body>

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Sort by Price</option>
                <option>Sort by Popularity</option>
                <option>Sort by Rating</option>
                <option>Sort by Sale</option>
            </select>
        </div>
    </div>

    <!-- Products Section -->
    <div class="small-container">
        <h2>Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="~/images/71EVBJVMSoL.jpg" alt="product1">
                <h4>Phone</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$499.99</p>
            </div>
            <div class="col-4">
                <img src="~/images/item-1-638647379620869041-3kf1bc.jpeg" alt="product1">
                <h4>Laptop</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$999.99</p>
            </div>
            <div class="col-4">
                <img src="~/images/SmartwatchCOLMIP76blackbuttonleftview.webp" alt="product1">
                <h4>Headphones</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$450.00</p>
            </div>
            <div class="col-4">
                <img src="~/images/71EVBJVMSoL.jpg" alt="product1">
                <h4>Camera</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$649.99</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/images/item-1-638647379620869041-3kf1bc.jpeg" alt="product1">
                <h4>Phone</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$499.99</p>
            </div>
            <div class="col-4">
                <img src="~/images/item-1-638647379620869041-3kf1bc.jpeg" alt="product1">
                <h4>Laptop</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$999.99</p>
            </div>
            <div class="col-4">
                <img src="~/images/SmartwatchCOLMIP76blackbuttonleftview.webp" alt="product1">
                <h4>Headphones</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$450.00</p>
            </div>
            <div class="col-4">
                <img src="~/images/SmartwatchCOLMIP76blackbuttonleftview.webp" alt="product1">
                <h4>Camera</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$649.99</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/images/71EVBJVMSoL.jpg" alt="product1">
                <h4>Phone</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$499.99</p>
            </div>
            <div class="col-4">
                <img src="~/images/item-1-638647379620869041-3kf1bc.jpeg" alt="product1">
                <h4>Laptop</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$999.99</p>
            </div>
            <div class="col-4">
                <img src="~/images/SmartwatchCOLMIP76blackbuttonleftview.webp" alt="product1">
                <h4>Headphones</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$450.00</p>
            </div>
            <div class="col-4">
                <img src="~/images/item-1-638647379620869041-3kf1bc.jpeg" alt="product1">
                <h4>Camera</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>$649.99</p>
            </div>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
</body>
</html>